absl-py==1.4.0
anyio==3.7.1
astunparse==1.6.3
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.4
exceptiongroup==1.1.2
fastapi==0.79.0
flatbuffers==23.5.26
gast==0.4.0
grpcio==1.56.0
h11==0.14.0
h5py==3.9.0
idna==3.4
importlib-metadata==6.8.0
Jinja2==3.1.2
keras==2.13.1
libclang==16.0.0
Markdown==3.4.3
MarkupSafe==2.1.3
numpy==1.22.3
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.1
Pillow==10.0.0
protobuf==4.23.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==1.10.11
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
sniffio==1.3.0
starlette==0.19.1
tensorflow
urllib3==1.26.16
uvicorn==0.22.0
Werkzeug==2.3.6
wrapt==1.15.0
zipp==3.16.0
